@font-face {
 font-family: 'Rockwell';
 src: url(../fonts/Rockwell/RockwellStd-Light.otf);
 font-weight: 300;
}

@font-face {
 font-family: 'Rockwell';
 src: url(../fonts/Rockwell/RockwellStd.otf);
}



/* BODY */
body {
 font-family: 'Raleway', sans-serif;
 font-family: 'Montserrat', sans-serif;
 padding :0; 
 margin:0;
}
  


/* HEADER SETTINGS */

h1 {
 font-family: 'Rockwell';
 background-color: black;
 color: white;
 width: 100%;
 display: block;
 margin: 0 auto;
}

 h2 {
  font-family: 'Raleway'
 }

 #email {
  font-weight: 400;
 }

 h3 {
  font-size: 1.4rem;
 }



/* JUMBOTRON */

.jumbotron {
 background-color: white;
 padding: 0;
 margin-bottom: 0;
 width: 100%;
}

#jumbotron-image {
 width: 90%;
 height: auto;
 max-height: 315px;
 max-width: 540px;
}



/* NAVBAR */

.nav-item {
 color: black;
 text-transform: uppercase;
 font-size: .9rem;
 padding: 2px;
}

.navbar-nav {
 text-align: center;
}

.nav-active {
 font-weight: 700;
}



/* CONTENT BODY */

.content-body {
 height: auto;
 width: 100%;
}



/* SLIDESHOW */


#stage {
 width: 80%;
 height: auto;
}

#stage a {
 position: absolute;
 width: 80%;
 height: auto;
 left: 18%;
 margin-bottom: 100px;
}




#stage a:nth-of-type(1) {
 animation-name: fader;
 animation-delay: 3s;
 animation-duration: 1s;
 z-index: 20;
}
#stage a:nth-of-type(2) {
 z-index: 10;
}
#stage a:nth-of-type(n+3) {
 display: none;
}

@keyframes fader {
 from { opacity: 1.0; }
 to   { opacity: 0.0; }
}

.slideshow-image {
 height: auto;
 width: 80%;
 
} 



/* GALLERY */

.imageDiv {
 margin: 5px;
}

.wedding-invite {
 width: 250px;
 height: 300px;
 display: block;
 /* margin: 0;
 padding: 0;
 border: 0; */
 cursor: pointer;
 /* background-color: white; */
 border-radius: 2px;

}

.imageDiv:hover .img-wrap {
 background-color: black;
 border-radius: 2px;
}

.wedding-invite:hover {
 opacity: 0.8;
}

/* MODAL */

.modal-body {
 padding: 0;
}

.modal {
  padding: 0 !important;
}

.modalImg {
height: auto;
width: 100%;
max-width: 850px;
min-width: 850px;
max-height: 640px;
background: url("/assets/images/packages/Package10.png"); 
z-index: 1;
}



.modal-content {
  background: none;
  border: none;
  width: none;
}

.modal-dialog, .modal-content  {
  pointer-events: auto !important;
}





/***** ACCESSORIES *****/

/* CONTAINER */



/* HR */
hr {
 background: black;
}

/* ROW */
.row {
 margin: 0;
 /* background: rgba(255, 255, 255, 0.2); */
}

/* ARROWS */

.fas {
  font-size: 1rem;
  padding: 10px;
}

.arrow-right, #rightArrow {
 position: absolute;
 top: 50%;
 right: -20%;
 cursor: pointer;
 z-index: 5;
}

.arrow-left, #leftArrow {
 position: absolute;
 top: 50%;
 left: -20%;

 z-index: 5;
}

#leftArrow, #rightArrow {
  z-index: 10;
  cursor: pointer;
}

a {
 cursor: pointer;
 color: black;
}

a:hover {
 color: rgb(200, 200, 200);
}




/* CONTACT PAGE */

.contact-head {
 background: white;
 color: black;
 font-size: 1.6rem;
 margin: 10px auto;
}

.contact-block {
 min-width: 300px;
 padding: 0 40px;
 }
 
 .mid-block {
 border-left: 1px solid black;
 border-right: 1px solid black;
 }

 .connect {
  -webkit-padding-after: 0px;
  -webkit-padding-before: 0px;
  -webkit-padding-start: 0px;
  -webkit-padding-end: 0px;
  font-size: 2rem;
  padding: 2% 0 2% 0;
  line-height: 1;
  /* letter-spacing: 1px; */
 }

 .arvo {
  font-family: 'Arvo', serif;
 }

 

 /* ABOUT PAGE */

 .about-me, .gallery, .contact-me {
  margin-bottom: 100px;
 }

 .about-me h2 {
  font-family: "Montserrat";

 }

 .ring-invite {
  font-size: 2rem;
  font-family: 'Rockwell';
  font-weight: 300;
  margin: 80px 0;
}

.options {
 font-size: 1.4rem;
 font-family: "Montserrat";
 letter-spacing: 1px;
}

.contact-header{ 
 font-weight: 600;
}

.about-me p {
 /* width: 50%; */
 margin: 0 auto;
}

.envelopesImg {
 width: 50%;
 height: auto;
}

.light-bold {
 font-weight: 100;
}

.quality {
 width: 60%;
 height: auto;
margin-top: 10px;
}

.print-para {
 width: 100% !important;
 /* padding-right: 30%; */
}

.col-md-6, .col-6, .col-md-12, .col-12 {
 padding: 0;
}

.brand{
  height: 80px;
  width: auto;
}



.footer {
  margin-bottom: 20px;
}

.quantities {
  font-size: 12px;
  text-align: right;
}

@media (max-width: 978px) {
  .container {
    padding:0;
    margin:0;
  }

  body {
    padding:0;
  }

  .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
    margin-left: 0;
    margin-right: 0;
    margin-bottom:0;
  }
}

/* @media (min-width: 576px) {
.container {
    max-width: 100%;
} */

@media only screen and (max-width: 991px) {
  body {
    /* background-color: lightblue; */
  }

  .container {
    max-width: 100%;
    /* min-width: 460px; */
  }

  .ring-invite {
    font-size: 1.5rem;
  }

  .options {
    font-size: 0.9rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 0.9rem;
  }

  #rightArrow {
    right: 8% !important;
   }
   
   #leftArrow {
    left: 8% !important;
   }

   .modalImg {
     min-width: 50% !important; 
   }

   .mid-block {
    border-left: 0px solid black;
    border-right: 0px solid black;
    
    }

    h3 {
      font-size: 1.2rem;
      padding: 2% 10%;
    }

    .contact-block {
      padding: 0 15%;
    }

    .connect {
      font-size: 1.7rem;

    }

    .modal-dialog {
      margin: 4rem;
    }

    .displayed {
      display: none;
    }

    .designDiv {
      padding: 0 5.5%;
    }

    .envelopesImg {
      width: 75%;
      height: auto;
     }

     .quantities {
      font-size: 8px;
      margin: 15px 12px 0px 0px !important;
  }

  .print-para {
    font-size: .85rem;
  }

  .quality {
    width: 75%;
  }

  #stage a {
    position: absolute;
    width: 100%;
    height: auto;
    left: 10%;
    margin-bottom: 100px;
}
}

@media only screen and (max-width: 600px) {

  .print-para {
    font-size: .64rem;
  }

  .quality {
    width: 70%;
  }
}